<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    	<meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    	<link href="../css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
	    
    	  <div class="wrapper">
    	  	  <div class="header">
    	  	  	   <div class="logo-img">
    	  	  			<img src="../logo/PNGS/SRrecordings.png">
    	  	  		</div>
    	  	  		<div class="menu-list">
    	  	  		<ul>
    	  	  			 <li>
                            
        	  	  			 	<img src="../Icons/PNGs/Home.png">
        	  	  			 	<span>Home</span>
                            
    	  	  			 </li>
    	  	  			 <li>
    	  	  			 	<img src="../Icons/PNGs/Records.png">
    	  	  			 	<span>Records</span>
    	  	  			 </li>
    	  	  			 <li>
    	  	  			 	<img src="../Icons/PNGs/Music.png">
    	  	  			 	<span>Music</span>
    	  	  			 </li>
    	  	  			 <li>
    	  	  			 	<img src="../Icons/PNGs/Artists.png">
    	  	  			 	<span>Artists</span>
    	  	  			 </li>
    	  	  			 <li>
    	  	  			 	<img src="../Icons/PNGs/Concerts.png">
    	  	  			 	<span>Concerts</span>
    	  	  			 </li>
    	  	  		</ul>
    	  	  	</div>
    	  	  	<div class="sign-in">
    	  	  		<button>SIGN UP</button>
    	  	  	</div>
    	  	  </div>
              <div class="paradox-img">
                 <div class="paradox-img-text">
                    <h1>A.M Paradox</h1>
                    <p>Christopher Brent Wood,better known by his stagename Brent faiyaz,is</p>
                    <p>an American singer and record producer. He released his debut project,an</p>
                    <p>extended play entitled A.M. Paradox, in 2016</p>
                    <a href="#">
                        <img src="../Icons/PNGs/Play_button.png">
                        <span>watch video</span>
                    </a>
                 </div>
              </div>
              <div class="hero-banner-div">
                <div class="hero-inside">
                      <div class="hero-image">
                          <img src="../Images/image2.png">
                      </div>
                      <div class="hero-paragraph">
                        <h3>Brent Faiyaz, So <br> Far Gone</h3>
                        <p>Faiyaz began uploading his music onto ScundCloud in 2014 and moved from his hometown Columbia, Maryland to Charlotte, North Carolina before ultimately settling in Los Angeles, California to further his music career. On January 19, 2015, he released his debut single "Allure".[4] On June 1, 2016, Faiyaz released "Invite Me", the lead single from his upcoming debut EP. On September 19, 2016, his 21st birthday, the EP entitled A.M. Paradox was released and received with positive reviews from music critics. On January 26, 2017, Sonder released their debut EP Into.</p>
                 <button>Learn More</button>
                </div>
                </div>
              </div>
              <div class="new-releases-maindiv">
                  <div class="new-release">
                      <h1>New Releases</h1>
                      <p>New albums every single month, check out the newest & best from the Synder</p>
                      <p>Recording artist, now available on Apple Music & Spotify.</p>
                  </div>
                  










<div class="slideshow-container trapsoul-main" id="slideshow-container">

<div class="mySlides fade">
  <!-- <img src="img_nature_wide.jpg" style="width:100%"> -->
    <div class="trapsoul-div">
        <div class="trapsoul-img">
            <img src="../Images/image4.png">
        </div>
        <div class="trapsoul-text">
            <h2>Trapsoul</h2>
            <p class="trapsoul-text-head">BRYSON TILLER</p>
            <p class="trapsoul-text-pgraph">
                 Bryson Djuan Tiller, is an American Singer, sogwriter and rapper. Born in Louisville, Kentucky, he started his career in 2011, releasing the debut mixtape titled Killer Instinct Vol.1.
            </p>
        </div>
    </div>
</div>

<div class="mySlides fade">
    <div class="trapsoul-div">
        <div class="trapsoul-img">
            <img src="../Images/image4.png">
        </div>
        <div class="trapsoul-text">
            <h2>Trapsoul</h2>
            <p class="trapsoul-text-head">BRYSON TILLER</p>
            <p class="trapsoul-text-pgraph">
                 Bryson Djuan Tiller, is an American Singer, sogwriter and rapper. Born in Louisville, Kentucky, he started his career in 2011, releasing the debut mixtape titled Killer Instinct Vol.1.
            </p>
        </div>
    </div>
</div>
<div class="mySlides fade">
    <div class="trapsoul-div">
        <div class="trapsoul-img">
            <img src="../Images/image4.png">
        </div>
        <div class="trapsoul-text">
            <h2>Trapsoul</h2>
            <p class="trapsoul-text-head">BRYSON TILLER</p>
            <p class="trapsoul-text-pgraph">
                 Bryson Djuan Tiller, is an American Singer, sogwriter and rapper. Born in Louisville, Kentucky, he started his career in 2011, releasing the debut mixtape titled Killer Instinct Vol.1.
            </p>
        </div>
    </div>
</div>
<div class="mySlides fade">
    <div class="trapsoul-div">
        <div class="trapsoul-img">
            <img src="../Images/image4.png">
        </div>
        <div class="trapsoul-text">
            <h2>Trapsoul</h2>
            <p class="trapsoul-text-head">BRYSON TILLER</p>
            <p class="trapsoul-text-pgraph">
                 Bryson Djuan Tiller, is an American Singer, sogwriter and rapper. Born in Louisville, Kentucky, he started his career in 2011, releasing the debut mixtape titled Killer Instinct Vol.1.
            </p>
        </div>
    </div>
</div>

<div class="mySlides fade">
    <div class="trapsoul-div">
        <div class="trapsoul-img">
            <img src="../Images/image4.png">
        </div>
        <div class="trapsoul-text">
            <h2>Trapsoul</h2>
            <p class="trapsoul-text-head">BRYSON TILLER</p>
            <p class="trapsoul-text-pgraph">
                 Bryson Djuan Tiller, is an American Singer, sogwriter and rapper. Born in Louisville, Kentucky, he started his career in 2011, releasing the debut mixtape titled Killer Instinct Vol.1.
            </p>
        </div>
    </div>
</div>

<div class="slide-btns">
    <a class="prev" onclick="plusSlides(-1)"><img src="../Icons/PNGs/left_controller.png"></a>
    <a class="next" onclick="plusSlides(1)"><img src="../Icons/PNGs/Right_controller.png"></a>
</div>

</div>

             </div>

             <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.962845271669!2d-94.7066240846475!3d38.97051637955954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0eb66d8711493%3A0x128f5f4aeaee0907!2s10261+W+87th+St%2C+Overland+Park%2C+KS+66212%2C+USA!5e0!3m2!1sen!2sin!4v1521393842600" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
              <!-- new code -->
              <div class="get-in-touch-div">
                  <div class="form-page">
                    <div class="formdiv">
                      <h1>Get In Touch</h1>
                     <p>New albums every single month, check out the newest & best from the Synder Recording artist, now available on Apple Music & Spotify.</p>
                      <form>
                        <div class="form-input-row">
                          <div class="form-field">
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                          </div>
                       
                          <div class="form-field">
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                          </div>
                      
                          <div class="form-field">
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                          </div>
                      
                          <div class="form-field">
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                          </div>
                        
                          <div class="form-field-textarea">
                             <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
                          </div>
                          <div class="form-field">
                           <button class="send-message-btn">Send Message</button>
                       </div>
                          </div>
                        </div>
                      </form>
                  </div>
                  <div class="form-img">
                      
                  </div>
              </div>
              <!-- footer -->
              <div class="footer-div">
                  <div class="footer-inside-div">
                      <div>
                          <ul class="list-items">
                              <li><img src="../logo/PNGS/SRrecordings_white.png"></ins></li>
                              <li>8521 W Fairfax Rd</li>
                              <li>Los Angeles, CA</li>
                              <li>90210</li>
                              <li>909.505.4302</li>
                          </ul>
                      </div>

                      <div>
                          <ul class="list-items">
                              <li>EXPLORE</li>
                              <li>About US</li>
                              <li>Our Story</li>
                              <li>Team</li>
                              <li>Careers</li>
                              <li>FAQ</li>
                          </ul>
                      </div>

                      <div>
                          <ul class="list-items">
                              <li>MUSIC</li>
                              <li>Missing Out</li>
                              <li>Trapsoul</li>
                              <li>Sonder Sons</li>
                              <li>Paradise Today</li>
                              <li>Needed</li>
                          </ul>
                      </div>

                      <div>
                          <ul class="list-items">
                              <li>ARTISTS</li>
                              <li>Brent Faiyaz</li>
                              <li>Drake</li>
                              <li>Bryson Tiller</li>
                              <li>Young Ford</li>
                              <li>Rory Fresco</li>
                          </ul>
                      </div>

                      <div>
                          <ul class="list-items">
                              <li>RECORDS</li>
                              <li>What a Time</li>
                              <li>Coming Home</li>
                              <li>Always First</li>
                              <li>So Far Gone</li>
                              <li>Big Bluez</li>
                          </ul>
                      </div>

                      <div>
                          <ul class="list-items">
                              <li>CONCERTS</li>
                              <li>Midland Live</li>
                              <li>Granada 2018</li>
                              <li>Tiller Unplugged</li>
                              <li>Love Live</li>
                              <li>XX Live Mix</li>
                          </ul>
                      </div>
                  </div>
             
              <div class="footer-social-media">
                <div class="inside-footer">
                  <div class="footer-terms">
                      <ul>
                          <li>Privacy Policy</li>
                          <li>Terms & Conditions</li>
                      </ul>
                  </div>
                  <div class="footer-social">
                      <ul>
                          <li><img src="../Icons/PNGs/Youtube.png"></li>
                          <li><img src="../Icons/PNGs/Twitter.png"></li>
                          <li><img src="../Icons/PNGs/Instagram.png"></li>
                          <li><img src="../Icons/PNGs/Snapchaat.png"></li>
                      </ul>
                  </div>
              </div>
              </div>
    	  </div>
           </div>
</div>
<script>
var slideIndex = 1;
// slides selector
var slides = document.querySelectorAll(".mySlides");

// the total number of slides
var slideTotal = slides.length;

// the width of the individual slides
var slideWidth = 612;

// keep count of what slide we are on
var currentSlide = 0;

// wrapp all the slides in a div
var slideshowScreen = document.createElement("div");
slideshowScreen.setAttribute("id", "slideshow-screen")

for (var i = 0; i < slides.length; i++) {
    slideshowScreen.appendChild(slides[i]);
}

document.getElementById("slideshow-container").appendChild(slideshowScreen);

// make that div the width of all slides
slideshowScreen.style.width = (slideWidth * slides.length) + "px";

showSlides(slideIndex);

function plusSlides(n) {
  //showSlides(slideIndex += n);
  showSlides();  
  
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

// function to determine the next slide
function showSlides() {

    // what slide is next
    if (slideIndex == slideTotal - 1) {
        slideIndex = 0
    } else {
        slideIndex++;
    }
    var movePx = (slideWidth * slideIndex);
    movePx = movePx - 949
    slideshowScreen.style.marginLeft = -movePx + "px";
    for(var i =0; i<document.querySelectorAll(".mySlides .trapsoul-div").length; i++){
        document.querySelectorAll(".mySlides .trapsoul-div")[i].style.opacity='0.5';       
    }
     if(document.querySelectorAll(".mySlides .trapsoul-div")[slideIndex-1] !=undefined) 
       document.querySelectorAll(".mySlides .trapsoul-div")[slideIndex-1].style.opacity='1';
}
</script>
    </body>
</html>